/* topmenu */  

.topmenu-mainopt{
	font-weight: 200;
}


.topmenu-menu
{
	background-color: transparent;
	background-image: url('../images/bg-gray09.png');
}

.topmenu{
	padding-left: 7px;
	padding-right: 7px;
	border-bottom: 0px;
	margin-bottom: 0px;
}

.topmenu-opt-info{
	color: #999999;
	float: left;
	margin-top: 5px;
	width: 20px;
	text-align: left;
}	

.topmenu > li{
	color: white;
	line-height: 16px;
	font-size: small;
	font-weight: 200;
}
	
.topmenu-opt{
	text-align: left;
	overflow: hidden;
	color: #999999;	
}

.topmenu-opt > a{
	color: white;
	display: block;
	padding: 5px;
}

.topmenu-opt > a:hover{
	color: white;
	background-color: #424242;
	text-decoration: none;
}

.topmenu-opt > .disabled{
	color: #999999;
	display: block;
	padding: 5px;
}


.notif-menu{
	width: 250px;
}
		
.notif-info{
	width: 50px;
}

.notif-opt{
	height: 40px;
	margin-bottom: 0px;
}

.notif-opt > a{
	height: 40px;
	color: white;
	display: block;
	padding: 5px;
}

.topmenu-badge {

	display: inline-block;
	border: 1px solid #dddddd;
	
	-webkit-border-radius: 12px;
  	-moz-border-radius: 12px;
	border-radius: 12px;

	padding-left: 6px;
	padding-right: 6px;
		
	text-align: center;
	
	color: #ffffff;
}

.topmegnu-badge {

	display: inline-block;
	border: 1px solid #dddddd;
	
	border-radius: 12px;
	-webkit-border-radius: 12px;
  	-moz-border-radius: 12px;
  	
	padding-left: 6px;
	padding-right: 6px;
	
	float: left;	
	text-align: center;
	
	line-height: 20px;
	color: #ffffff;
	
	margin-top: 14px;
	margin-right: 25px;
}

.topmenu-badge.hide {
	display: none;
}


.leftmenu2{
	margin-right: 20px;
}

.topmenu-opt2{
	color: white;
	overflow: hidden;
	border-bottom: 1px #999999 dashed;
	max-height: 70px;
}



/* leftmenu */      
          
.leftmenu{
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 37px;
}          

.leftmenu-opt{
	line-height: 50px;
	padding-left: 0px;
}

.leftmenu-activeopt {
	background-image: url('../design/opt.png');
}


.leftmenu-opt > a{
	margin-right: 0px;
  	margin-left: 0px;
  	text-shadow: none;
	padding-left: 25px;
	padding-bottom: 0px;
	padding-top: 0px;
	color: #d0d0d0;
	font-weight: 200;
}

.nav > .leftmenu-opt > a:hover{
  text-decoration: none;
  background-color: transparent;
  background-image: url('../design/opt.png');
}

.leftmenu-opt .disabled{
	padding-left: 25px;
	font-weight: 200;
	color: #666666;
}

.leftmenu-badge {

	display: inline-block;
	border: 1px solid #999999;
	
	border-radius: 12px;
	-webkit-border-radius: 12px;
  	-moz-border-radius: 12px;
  	
	padding-left: 6px;
	padding-right: 6px;
	
	float: right;	
	text-align: center;
	
	line-height: 20px;
	color: #ffffff;
	
	margin-top: 14px;
	margin-right: 25px;

}

.leftmenu-badge.hide {
	display: none;
}

.leftmenu-sub{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 13px;
	background-color: #303030;
	
	margin-bottom: 0px;
} 

.leftmenu-sub > li > .disabled{
	padding-left: 25px;
	font-weight: 200;
	line-height: 25px;
	color: #666666;
}

.leftmenu-sub > li > a{
	margin-right: 0px;
  	margin-left: 0px;
  	text-shadow: none;

	color: #aaaaaa;	
	
	padding-left: 25px;
	line-height: 25px;
	font-weight: 200;
}

.leftmenu-sub > li > a:hover{
  text-decoration: none;
  background-color: #3d3d3d;
}

.leftmenu-sub-activeopt {
	background-color: #424242;
}

.leftmenu-sub-badge {

	display: inline-block;
	
	border-radius: 12px;
	-webkit-border-radius: 12px;
  	-moz-border-radius: 12px;

	padding-left: 5px;
	padding-right: 5px;
	
	float: right;	
	text-align: center;
	
	line-height: 18px;
	color: #aaaaaa;
	
	margin-top: 4px;
	margin-right: 27px;
	
	background-color: #282828;
}

.leftmenu-sub-badge.hide {
	display: none
}

.btn-logo{
	padding: 0px;
	padding-right: 5px;
	padding-left: 5px;

	margin-left: 5px;
}



/* info button */

.btn-sg
{
	width: 100%;
	margin: 0px;
	padding: 0px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.btn-s
{
	width: 100%;
	margin: 0px;
	padding: 0px;
	padding-top: 8px;
	padding-bottom: 8px;
	
	font-weight: 200;
}

.r1{
	width: 100%;
}

.r2{
	width: 50%;
}

.r3{
	width: 33%;
}

.r4{
	width: 25%;
}

.r5{
	width: 20%;
}

.r6
{
	width: 16.7%;
}

.ramax{
	width: 95%;
}





/* social */

.social-heading
{

}

.media-heading {
  font-size: small;
}

.media-body {
  font-size: small;
}

.visible-616{
	display: inline;
}

.hide-616{
	display: none;
}